{% extends "base.html" %}
<!-- model name template filter. You can apply it in templates as
object|model_name to get the model name for an object. -->
{% load course %}
<!-- This is the template that displays all modules for a course and the contents of the
selected module -->
{% block title %}
  Module {{ module.order|add:1 }}: {{ module.title }}
{% endblock %}

{% block content %}
  {% with course=module.course %}
    <h1>Course "{{ course.title }}"</h1>
    <div class="contents">
      <h3>Modules</h3>
      <ul id="modules">
          <!-- You iterate over the course modules to display them in a sidebar.
You iterate over a module's contents and access content.item to get the related
Text, Video, Image, or File object. You also include links to create new text, video,
image, or file content -->
        {% for m in course.modules.all %}
          <li data-id="{{ m.id }}" {% if m == module %}
           class="selected"{% endif %}>
           <!-- You want to know which type of object each of the item objects is: Text, Video,
Image, or File. You need the model name to build the URL to edit the object -->
            <a href="{% url "module_content_list" m.id %}">
              <span>
                Module <span class="order">{{ m.order|add:1 }}</span>
              </span>
              <br>
              {{ m.title }}
            </a>
          </li>
        {% empty %}
          <li>No modules yet.</li>
        {% endfor %}
      </ul>
      <p><a href="{% url "course_module_update" course.id %}">
      Edit modules</a></p>
    </div>
    <div class="module">
      <h2>Module {{ module.order|add:1 }}: {{ module.title }}</h2>
      <h3>Module contents:</h3>

      <div id="module-contents">
        {% for content in module.contents.all %}
          <div data-id="{{ content.id }}">
            {% with item=content.item %}
              <p>{{ item }} ({{ item|model_name }})</p>
              <a href="{% url "module_content_update" module.id item|model_name item.id %}">
                Edit
              </a>
              <form action="{% url "module_content_delete" content.id %}" method="post">
                <input type="submit" value="Delete">
                {% csrf_token %}
              </form>
            {% endwith %}
          </div>
        {% empty %}
          <p>This module has no contents yet.</p>
        {% endfor %}
      </div>
      <h3>Add new content:</h3>
      <ul class="content-types">
        <li><a href="{% url "module_content_create" module.id "text" %}">
        Text</a></li>
        <li><a href="{% url "module_content_create" module.id "image" %}">
        Image</a></li>
        <li><a href="{% url "module_content_create" module.id "video" %}">
        Video</a></li>
        <li><a href="{% url "module_content_create" module.id "file" %}">
        File</a></li>
      </ul>
    </div>
  {% endwith %}
{% endblock %}

{% block domready %}
//You define a sortable element for the modules HTML element. Remember that you use #modules, since jQuery uses CSS notation for selectors.
  $('#modules').sortable({
//You specify a function for the stop event. This event is triggered every time the user finishes sorting an element.
      stop: function(event, ui) {
//You create an empty modules_order dictionary. The keys for this dictionary will be the module IDs, and the values will be the assigned order for each module
          modules_order = {};
          $('#modules').children().each(function(){
              // update the order field
/*You iterate over the #module children elements. You recalculate the
displayed order for each module and get its data-id attribute, which
contains the module's ID. You add the ID as the key of the modules_order
dictionary and the new index of the module as the value.*/
              $(this).find('.order').text($(this).index() + 1);
              // associate the module's id with its order
              modules_order[$(this).data('id')] = $(this).index();
          });
/*You launch an AJAX POST request to the content_order URL, including the
serialized JSON data of modules_order in the request. The corresponding
ModuleOrderView takes care of updating the order of the modules.*/
          $.ajax({
              type: 'POST',
              url: '{% url "module_order" %}',
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
              data: JSON.stringify(modules_order)
          });
      }
  });

  $('#module-contents').sortable({
      stop: function(event, ui) {
          contents_order = {};
          $('#module-contents').children().each(function(){
              // associate the module's id with its order
              contents_order[$(this).data('id')] = $(this).index();
          });

          $.ajax({
              type: 'POST',
              url: '{% url "content_order" %}',
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
              data: JSON.stringify(contents_order),
          });
      }
  });
{% endblock %}
