{% extends "base.html" %}
{% load cache %}

{% block title %}
  {{ object.title }}
{% endblock %}

{% block content %}
  <h1>
    {{ module.title }}
  </h1>
  <div class="contents">
      <!-- template for enrolled students to access the contents of a course -->
    <h3>Modules</h3>
    <ul id="modules">
        <!-- you build an HTML list including all course modules and highlighting the current
module. -->
      {% for m in object.modules.all %}
      <!-- you iterate over the current module contents and access each content
item to display it using item.render  -->
        <li data-id="{{ m.id }}" {% if m == module %}class="selected"{% endif %}>
          <a href="{% url "student_course_detail_module" object.id m.id %}">
            <span>
              Module <span class="order">{{ m.order|add:1 }}</span>
            </span>
            <br>
            {{ m.title }}
          </a>
        </li>
      {% empty %}
        <li>No modules yet.</li>
      {% endfor %}
    </ul>
  </div>
  <div class="module">
    <!-- You cache this template fragment using the name module_contents and passing
the current Module object to it. Thus, you uniquely identify the fragment. This is
important to avoid caching a module's contents and serving the wrong content
when a different module is requested -->
    {% cache 600 module_contents module %}
      {% for content in module.contents.all %}
        {% with item=content.item %}
          <h2>{{ item.title }}</h2>
          {{ item.render }}
        {% endwith %}
      {% endfor %}
    {% endcache %}
  </div>
{% endblock %}
